*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background:#efefef;
    min-height: 100vh;
}
/* starting of navigation bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111;
    padding: 5px 5%;
    height: 60px;
}

.logo{
    width: 180px;
}
h1 {
    color: #eee;
}
.name{
    color: aliceblue;
}
.ctn{
    padding: 3px 10px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.red{
    color: rgb(134, 253, 159);
}
.name{
    size: 150px;
}
.conte{
    border: 1px solid #000;
    float: right;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1.1em;
    font-weight: 500px;
    padding: 5px 0;
    margin: 0px 20px;
    transition: all .50s ease;
    text-decoration: none;
    color: whitesmoke;
}
.navigation-left p{
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image img{
    width: 1536px;
    height: 400px;
}
.services{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;

}
.ctn{
    padding: 3px 10px;
    background: #fc036b;
    border-radius: 30px;
    color: black;
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: #ccc;
    border-radius: 10px;
    transition: tramsform .3s ease;
}
.card:hover{
    transform: scale(1.1);
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 35px;
    color: #4abc4f;
    margin-bottom: 30px;
}
.card p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #5e5e5e;
}
footer{
background-color: #111;
position: sticky;
top: 100%;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.footerbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: #efefef;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px ;
}
@media(max-width:700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}